        body{
            color:rgb(30, 83, 30);
            
        }
        .logo {
            
            font-size:30px;
            color:rgb(38, 112, 38);
        }
        

        .image{
            width: 100%;
            height:auto;
            display:block;
            margin:0%;
            /* background: #000; */
            /* display: flex;
            justify-content: center;
            align-items: center; */
            display: grid;
            place-content: center;
            object-fit:cover;
        }
        .image img{
            border: #8aac7f solid 15px;
            padding: 10px;
        }
        .intro-text{
            text-align: center;
            margin: auto;
            font-size: 20px;
            color:rgb(30, 83, 30);
            max-width: 400px;           
        }
        .why-choose{
            text-align: center;
            margin:auto;
            font-size:20px;
            background-color: #ddd2d2;
            padding: 50px;

        }
        .product-card {
          width: 370px;
          background: #f8f6f1;
          border-radius: 8px;
          overflow: hidden;
          font-family: 'Segoe UI', Arial, sans-serif;
          margin: 20px 0;
          display: flex;
          flex-direction: column;
          min-height: 480px;
          
        }
        .image-container:hover img {
            transform: scale(1.1);
            opacity: 0.8;
       }

            
        .product-image {
          width: 100%;
          height: 260px;
          object-fit: cover;
          display: block;
        }

        .product-info {    
            padding: 20px 18px 18px 18px;   
        }
                 
        .product-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        .product-title {
            font-size: 1.2em;
            font-weight: bold;
            color: #3d4c2a;
            line-height: 1.1;
        }
        .product-price {
            font-size: 1.1em;
            color: #3d4c2a;
            font-weight: bold;
            margin-left: 10px;
        }
        .product-desc {
            color: #888;         
            margin: 10px 0 16px 0;
        }
        .add-to-cart {
            width: 100%;
            background: #395b34;
            color: #fff;
            border: none;
            padding: 10px;
            border-radius: 5px;
            font-size:15PX;
            cursor: pointer;
            font-weight: 500;           
        }
            
                
        .add-to-cart:hover {
            background: #27401f;
        }        
        
        .product-list {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            justify-content: center;
            align-items: stretch;
            
        }

        .view-menu{
            text-align:center;
            margin: 20px;
        }
        
        button{
            font-size: 15px;
            background-color: #f9faf9;
            padding:10px 30px;
            border-radius:6px;
            color:#395b34;
            border-color:#395b34;
            border-width: 1px;
        }
        button:hover{
            background-color: #395b34;
            color:white;
        }
        .footer{
            background-color: #395b34;
            color:white;
            padding:10px;
            border-radius:10px;
            
        }
        .footer-1 {
            text-align:center;
        }
        .footer-1 p{
            font-size:19px;
        }
        .footer-1 button:hover{
            background-color:#888 ;
        }
        .footer p{
            font-size: 17px;
        }
        .footer a{
            text-decoration: none;
            color:white;
        }
        footer{
            text-align: center;
        }
        .About-intro{
            text-align: center;
            font-size:20px;
            margin: 50px;
        }
        .our-story {
            display: flex;
            max-width: 1000px;
            margin: auto;
        }
        .text {
            flex: 1;
            padding:100px;
        }
        .image {
            flex: 1;
        }
        .image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .about-value{
            background-color:#c5c5c5;width: 360px;
            border-radius: 20px;
            overflow: hidden;
            font-family: 'Segoe UI', Arial, sans-serif;
            margin: 5px 0;
            display: flex;
            flex-direction: column;
            min-height: 300px;           
        }
        .value-list{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            align-items: stretch;
        }
        .Contact-intro{
            text-align:center;
            font-size:17px;
            
        }
        .contact-list{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            align-items: stretch;
            

        }
        .contact{
            background-color:#c5c5c5;width: 250px;
            border-radius: 20px;
            font-family: 'Segoe UI', Arial, sans-serif;
            margin: 5px 0;
            display: flex;
            flex-direction: column;
            min-height: auto;
            
        }
        
        .from{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;           
            margin: 20px;
            background-color:rgb(230, 228, 228);
            width: 600px;
            border-radius: 10px;
            padding:10px;
            margin: 20px;
            color:rgb(49, 97, 38);
            
        }
        label{
            font-size:17px;
            font-weight: bold;
        }
        input,textarea,select{
            width:90%;
            border-radius: 5px;
            padding:6px;
        }
        .b-submit{
            text-align:center;
        }
        .Special_Services{
            background-color: rgb(230, 228, 228);
            width: 500px;
            border-radius: 10px;
            margin: 20px;
            padding:10px;
            width:400px;;
        }
        

        



        